
@import url(https://fonts.googleapis.com/css?family=Khula:700);


:root {
  --dark-one: #333;
  --dark-two: #7a7a7a;
  --dark-three: rgb(0, 0, 0);
  --main-color: #e1e1e1;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
}

/* general styles */

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body, button, input, textarea{
  font-family: khula;
  background-image: url('RMbackground.jpg');
  background-repeat: no-repeat;
  background-position: center 30%;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

img {
  width: 100%;
}

.container{
  position: relative;
  z-index: 5;
  max-width: 92rem;
  padding: 0 4rem;
  margin: 0 auto;
}

/* end of general styles */


@media (max-width: 300px) {
  body, button, input, textarea {
    font-size: 12px; /* Smaller font size for readability */
  }

  .container, .container-2, .container-3, .container-4, .container-5 {
    padding: 0 2%; /* Reduce padding on smaller screens */
    max-width: 100%; /* Allow containers to fill the screen */
  }

  header, .home, .about-page, .skill-page, .contact-page, .project-page {
    background-size: cover; /* Ensure background covers the viewport */
  }

  .header-title, .header-title-2, .skills-p, .about-me, .content {
    font-size: 20px; /* Scale down large text for mobile */
  }

  .links-2 ul, .wrapper, .img-container {
    display: block; /* Stack elements vertically */
    margin: 0 auto; /* Center elements */
    max-width: 90%; /* Ensure content doesn't touch the sides */
  }

  .img-about, .project-img {
    max-width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
  }
}


/* start of loader style */

.loader-wrapper1{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('RMbackground.jpg');
  background-repeat: no-repeat;
  background-position: center 30%;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}


/* end of loader style */


/* header */

header {
  width: 100%;
  overflow: hidden;
  height: 100%;
}


.home {
  position: relative;
  width: 100%;
  width: fit-content;
  left: 50%;
}

@media (max-width: 1600px) {
  nav.home {
    position: relative;
    width: 100%;
    width: fit-content;
    left: 50%;
  }
  
  
}

nav {
  width: 100%;
  position: relative;
  z-index: 50;
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  top: 0;
}

nav .container-2 {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
  max-width: 100%;
}

.logo {
  width: 5%;
  display: flex;
  align-items: center;
  transition: 0.2s ease-in-out transform;
}

.logo:hover{
  transform: scale(1.1, 1.1);
  cursor: default;
}
.links-2 ul{
  display: flex;
}

.links-2 a{
  display: inline-block;
  padding: .9rem 1.2rem;
  color: var(--dark-one);
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  transition: 0.3s;
}

.links-2 a.active {
  background-color: var(--main-color);
  color: var(--light-one);
  border-radius: 2rem;
  font-size: 1rem;
  padding: .9rem 2.1rem;
  margin-left: 1rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}


.links-2 a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px; 
  background-color: rgb(231, 191, 30); 
  transition: width 0.25s ease-out; 
}

.links-2 a:hover::before {
  width: 25%
}

.links-2 a:hover{
  color: var(--main-color);
}

.links-2 a.active:hover{
  color: var(--main-color);
  background-color: #434343;
}

.links-2 a.active::before, .links-2 a.active:hover::before {
  content: none; /* This removes the pseudo-element, thus no underline */
}

.header-title {
  font-size: 6rem;
  line-height: 2;
  color: var(--main-color);
  margin-left: -0.1rem;
  font-family: khula;
}

p.text {
  margin-top: -4rem;
  margin-bottom: 6rem;
   margin-left: .4rem;
  font-family: khula;
  color: var(--main-color);
}
/* end header */



/* Responsive Styles for smaller screens (home screen)*/
@media (max-width: 768px) {
  .home {
    margin-left: 0; /* Reset margin for smaller screens */
  }

  .header-content {
    padding: 20px; /* Add some padding for smaller screens */
  }

  .header-title {
    font-size: 4rem; 
    margin-left: 0; 
  }

  p.text {
    margin-top: -2.5rem;
    margin-bottom: 1rem;
    font-size: 0.6rem; 
  }

  .links-2 ul {
    flex-direction: column;
  }

  .links-2 a {
    text-align: center; 
    width: 100%;
    max-width: 10rem; 
    margin: 1rem;
    height: 2.5rem;
  }
  
}


/* start of icon styling */

.wrapper {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-left: 39.4vw;
  margin-top: 0.5rem;
}

.button {
  
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  width: 58px;
  height: 50px;
  background-color: white;
  border-radius: 6rem;
  line-height: 60px;
  text-align: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: width 0.5s ease, transform 0.7s ease;
}

.wrapper .button .icons{
  font-size: 20px;
}

.wrapper .button:hover{
  width: 140px;
  transform: 0.2s;
  color: var(--main-color);
  
}

.icons {
  color: black;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
  .wrapper {
    right: 5%; /* More margin on smaller screens */
  }

  .button {
    width: 50px; /* Smaller button size */
    height: 50px; /* Smaller button size */
    line-height: 50px;
  }
}

/* end of icon styling */






/* start of about page header styling */

.about-page, button, input, textarea{
  font-family: khula;
  background-image: none;
  background-color: #5ebbe0;
}




.container-2{
  position: relative;
  z-index: 5;
  max-width: 92rem;
  padding: 0 4rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

nav .container-2 {
  display: flex;
  justify-content: space-between;
  height: 8rem;
  align-items: center;
  opacity: 1;
  transition: opacity 2s ease-in-out;
  width: 100%;
  max-width: 100%;
}

.header-title-2 {
  font-size: 4rem;;
  line-height: 2;
  color: var(--main-color);
  display: flex;
  font-family: 'Helvetica Neue', sans-serif;
}

.links-2 ul{
  display: flex;
}

.links-2 a{
  display: inline-block;
  padding: .9rem 1.2rem;
  color: var(--dark-one);
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  transition: 0.3s;
  display: flex;
}

.links-2 a.active {
  background-color: var(--main-color);
  color: var(--light-one);
  border-radius: 2rem;
  font-size: 1rem;
  padding: .9rem 2.1rem;
  margin-left: 1rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.links-2 a:hover{
  color: var(--main-color);
}

.links-2 a.active:hover{
  color: var(--main-color);
  background-color: #434343;
}

.links-2 a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px; 
  background-color: rgb(231, 191, 30); 
  transition: width 0.25s ease-out; 
}

.links-2 a:hover::before {
  width: 25%;
}

.links-2 a {
  display: inline-block;
  padding: .9rem 1.2rem;
  color: var(--dark-one);
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  transition: 0.3s;
  position: relative; 
}




/* end of about page header styling */





/* start of about page syling */
.about-page {
  overflow-y: hidden;
}

.about-container{
  border-radius: 1em;
  box-shadow:0 0 1em rgba(0, 0, 0, 0.137);
  width: 50%;
  height: 30%;
  left: 5%;
  padding:2vmin; 
  position: relative;
  text-align:center;
}

.about-container-2{
  border-radius: 1em;
  box-shadow:0 0 1em rgba(0, 0, 0, 0.116);
  width: 30%;

  left: 15%;
  padding: 2vh;
  position: relative;
  text-align:center;
}

.about-container-3{
  border-radius: 1em;
  box-shadow:0 0 1em rgba(0, 0, 0, 0.147);
  width: 50%;

  left: 5%;
  padding: 2vh;
  position: relative;
  text-align:center;
}

.about-me{
  font-family: khula;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size:xx-large;
  position: relative;
  margin-bottom: 1rem;
  color: #313131;
  max-width: fit-content;
}

.about-me::before{
  content: "";;
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 0;
  height: 3px;
  background-color: rgb(232, 183, 70);
  transition: width 0.35s ease-out;
}

.about-me:hover::before{
  width: 30%;
  left: 0;
  right: auto;
}

.about-p{
  color: #ffffff;
  max-width: fit-content;
  margin: 1rem;
  background-color: #313131;
  border-radius: 0.5rem;
  padding: 10px;
  text-align: center;
  transition: 0.2s ease-in-out transform;
  font-size: x-large;
}

.social-media {
  color: #ffffff;
  max-width: fit-content;
  margin: 1rem;
  background-color: #313131;
  border-radius: 0.5rem;
  padding: 10px;
  text-align: center;
  transition: 0.2s ease-in-out transform;
  font-size: x-large;
}

.img-container{
  margin-top: 5%;
  max-width: 15%;
  padding: 5px;
  background-color: #d4d4d437;
  border-radius: 2rem;
  position: absolute;
  right: 15%;
  transition: 0.3s ease-in-out transform;
  box-shadow: 00px 20px 10px -20px black;
}

.img-container:hover{
  transform: scale(1.01, 1.01);
}

.img-about {
  max-width: 100%;
  transition: 0.3s ease-in-out transform;
  border-radius: 2rem;
  padding: 1vh;
}

.about-me-underline{
  text-decoration: underline;
  color: rgb(232, 183, 70);
  transition: 0.3s;
}

.about-me-underline:hover{
  color: #60b1da;

}

/* end of about page styling */



/* start of skill page styling */


/* start of skill page header styling */

.skill-page, button, input, textarea{
  font-family: khula;
  background-image: url('portfolioWeb.jpg');
  background-repeat: no-repeat;
  background-position: center 30%;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.container-2{
  position: relative;
  z-index: 5;
  max-width: 92rem;
  padding: 0 4rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

nav .container-2 {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
}

.header-title-2 {
  font-size: 4rem;;
  line-height: 2;
  color: var(--main-color);
  display: flex;
  font-family: 'Helvetica Neue', sans-serif;
}


.logo:hover{
  transform: scale(1.1, 1.1);
  cursor: default;
}

.links-2 ul{
  display: flex;
}

.links-2 a{
  display: inline-block;
  padding: .9rem 1.2rem;
  color: var(--dark-one);
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  transition: 0.3s;
  display: flex;
}

.links-2 a.active {
  background-color: var(--main-color);
  color: var(--light-one);
  border-radius: 2rem;
  font-size: 1rem;
  padding: .9rem 2.1rem;
  margin-left: 1rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.links-2 a:hover{
  color: var(--main-color);
}

.links-2 a.active:hover{
  color: var(--main-color);
  background-color: #434343;
}


/* end of skill page header styling */


/* start of skill page skills styling */

.container-3{
  width: 50%;
  background-color: #d7d6d6dc;
  border-radius: 4rem;
  padding: 1.4rem;
  text-align: center;
  margin-left: 25%;
  box-shadow: 00px 20px 10px -20px black;
  transition: 0.25s ease-in-out transform;
  margin-bottom: 5%;
}

.container-3:hover{
  transform: scale(1.01, 1.01);
}

.skills-p{
  font-family: khula;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size:xx-large;
  position: relative;
  margin-bottom: 2rem;
  color: #434343;
}

.skills-p::before{
  content: "";;
  position: absolute;
  left: 35%;
  bottom: 0; 
  width: 0;
  height: 3px;
  background-color: rgb(0, 151, 206);
  transition: width 0.35s ease-out;
}

.skills-p:hover::before{
  width: 10%;
  left: 35%;
  right: auto;
}


.skill-icons{
  width: 10rem;
  height: 10rem;
  padding: 50px;
  text-align: center;
  margin-right: 1.3rem;
  background: #ebebeb;
  border-radius: 3rem;
  transition: 0.2s ease-in-out transform;
  margin-bottom: 1.5rem;
  display: inline-block;
}

.skill-icons:hover{
  background-color: #ebebeb; 
  box-shadow: 0 0 10px rgba(0,0,0,0.3); 
  transform: scale(1.1, 1.1);
  cursor: default;
}


/* end of skill page skills styling */


/* end of skill page styling */


/* start of contact page styling */

.contact-page, button, input, textarea{
  font-family: khula;
  overflow-x: hidden;
  background: none;
}


/* start of contact page background */

.bg {
  animation:slide 7s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(82, 194, 232) 50%, rgb(55, 164, 236) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}


.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:10s;
}

.bg3 {
  animation-duration:12s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}


/* end of contact page background */

.contact-container{
  background-color:#c7c7c7b2;
  border-radius: 1em;
  box-shadow:0 0 1em rgba(0,0,0,.25);
  width: 50%;
  height: 30%;
  left: 25%;
  padding:10vmin; 
  position: relative;
  margin-bottom: 3rem;
  text-align:center;
}

.contact-me{
  font-family: khula;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size:xx-large;
  position: relative;
  margin-bottom: 1rem;
  color: #706f6f;
  max-width: fit-content;
}

.contact-me::before{
  content: "";;
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 0;
  height: 3px;
  background-color: rgb(0, 151, 206);
  transition: width 0.35s ease-out;
}

.contact-me:hover::before{
  width: 30%;
  left: 0;
  right: auto;
}

.content:hover{
  cursor: default;
}


.container-5:hover{
  transform: scale(1.03, 1.03);
}
.name-input{
  appearance: none;
  border: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 10px;
  margin: 4px;
  outline: none;
  width: 30%;
  max-width: 100%;
  position: relative;
  margin-top: .5rem;
  box-shadow:0 0 .3em rgba(0,0,0,.25);
  transition: background-color 0.3s ease-out;
}

.name-input:hover{
  background-color: #e6e6e6;
}


.name-input:focus::placeholder {
  color: transparent;
}

.name-input::placeholder{
  color: rgb(139, 131, 131);
  transition: color 0.3s ease;
}

.email-input{
  appearance: none;
  border: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 10px;
  margin: 4px;
  outline: none;
  width: 30%;
  max-width: 100%;
  position: relative;
  box-shadow:0 0 .3em rgba(0,0,0,.25);
  transition: background-color 0.3s ease-out;
}

.email-input:hover{
  background-color: #e6e6e6;
}


.email-input:focus::placeholder {
  color: transparent;
}

.email-input::placeholder{
  color: rgb(139, 131, 131);
  transition: color 0.3s ease;
}



.subject-input{
  appearance: none;
  border: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 10px;
  margin: 4px;
  outline: none;
  width: 100%;
  max-width: 100%;
  display: block;
  position: relative;
  box-shadow:0 0 .3em rgba(0,0,0,.25);
  transition: background-color 0.3s ease-out;
}

.subject-input:hover{
  background-color: #e6e6e6;
}

.subject-input:focus::placeholder {
  color: transparent;
}

.subject-input::placeholder{
  color: rgb(139, 131, 131);
  transition: color 0.3s ease;
}

.message-input{
  appearance: none;
  border: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 10px;
  margin: 4px;
  outline: none;
  width: 100%;
  max-width: 100%;
  position: relative;
  height: 100%;
  max-height: 12rem;
  padding-bottom: 157px;
  box-shadow:0 0 .3em rgba(0,0,0,.25);
  transition: background-color 0.3s ease-out;
}

.message-input:hover{
  background-color: #e6e6e6;
}


.message-input:focus::placeholder {
  color: transparent;
}

.message-input::placeholder{
  color: rgb(139, 131, 131);
  transition: color 0.3s ease;
}

.send-box{
  margin-top: 0.8rem;
  background-color: #60b1da;
  border-radius: 4rem;
  width: 15%;
  height: 10%;
  text-transform: uppercase;
  box-shadow:0 0 .5em rgba(0,0,0,.25);
  font-family: khula;
  font-size: small;
  color: #434343;
  border: none;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.send-box:hover{
  transform: scale(1.05, 1.05);
  cursor: pointer;
  background-color: #80c1e7; 
}

.send-box:active {
  transform: scale(0.95);
  background-color: #4a8fab; /* Darker shade for click effect */
  box-shadow: 0 0 0.5em rgba(0,0,0,0.5); /* Optional: make the shadow deeper */
}

.input-containers{
  max-width: 100%;
  width: 100%;
  margin-top: -1px;
}




/* end of contact page styling */



/* start of project page styling */


.project-page, button, input, textarea{
  font-family: khula;
  overflow-x: hidden;
  background-image: none;
}



.project-container{
  border-radius: 1em;
  box-shadow:0 0 1em rgba(0, 0, 0, 0.144);
  width: 80%;
  height: 30%;
  left: 10%;
  padding:10vmin; 
  position: relative;
  margin-bottom: 3rem;
  text-align:center;
}

.slide .project-img{
  width: 100%;  
  height: 30%; 
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}



.project-img:hover {
  transform: scale(1.01);
}

.project-description1{
  position: absolute;
  bottom: 0; 
  left: 0; 
  background:#726e6ec5;
  color: #fff; 
  font-size:x-large;
  width: 100%;
  transform: translateY(70%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  padding: 20px;
  opacity: 0;
  height: 25%; 
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: .6rem;
}

.slide:hover .project-description1 {
  transform: translateY(3%);
  opacity: 1;
}

.slide {
  position: relative;
  overflow: hidden; 
  border-radius: 1rem;/* Crucial for masking out any overflow */
  /* Ensure .slide dimensions are properly defined to fit the image */
}


.active {
  display: block; /* Show the active slide */
}

/* Navigation buttons */
.prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #434343;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-left: 2rem;
  background-color: #47aee5;
}

.next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #434343;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-right: 2rem;
  background-color: #47aee5;
}

.my-project{
  font-family: khula;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size:xx-large;
  position: relative;
  margin-bottom: 1rem;
  color: #3e3e3e;
  max-width: fit-content;
}

.my-project::before{
  content: "";;
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 0;
  height: 3px;
  background-color: rgb(206, 203, 0);
  transition: width 0.35s ease-out;
}

.my-project:hover::before{
  width: 30%;
  left: 0;
  right: auto;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: hsl(201, 84%, 66%);

}

/* end of project page styling */

